<root>
	<settings>
	
	</settings>	
	<graphics>
		
		<backgrounds>
			<background name="name" time="time present" fade="fade in time" image="xxx.png" />
		</backgrounds>
		
		<tiles>
			<tile name="name">
				<frame time="time present" image="xxx.png"/>
			</tile>
		</tiles>
		
		<character>
			<frame time="time present" image="xxx.png"/>
		<character>
		
	</graphics>
</root>