<root>
    <settings>
        <calibrationCorner x="0.240625" y="0.218750" />
        <calibrationCorner x="0.859375" y="0.243750" />
        <calibrationCorner x="0.895312" y="0.877083" />
        <calibrationCorner x="0.226563" y="0.845833" />
        <blockColor r="0.246529" g="0.354454" b="0.748016" />
        <blockColor r="0.507701" g="0.616716" b="0.780938" />
        <blockColor r="0.384059" g="0.174051" b="0.287323" />
    </settings>
    <backgrounds>
        <background spriteIndex="0" duration="7" fade="2" layer="0" />
    </backgrounds>
    <blocks>
        <block spriteIndex="0" layer="1" />
    </blocks>
    <character layer="4">
        <state name="run" spriteIndex="0" />
        <state name="idle" spriteIndex="1" />
    </character>
    <backgroundSprites>
        <sprites>
            <sprite name="morning">
                <variation>
                    <frame img="../../../assets/backgrounds/morning.png" />
                </variation>
            </sprite>
        </sprites>
    </backgroundSprites>
    <blockSprites>
        <sprites>
            <sprite name="earth" margin="5">
                <variation>
                    <frame img="../assets/earth/earth01.png" />
                </variation>
            </sprite>
        </sprites>
    </blockSprites>
    <characterSprites>
        <sprites />
    </characterSprites>
</root>
